<!DOCTYPE html>
<html ng-app="message" ng-controller="menuCtrl">
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title ng-bind="models.helloAngular"></title>
    <link rel="stylesheet" type="text/css" href="css/angular-material.min.css">
    <link rel="stylesheet" type="text/css" href="css/Site.css">

    <!-- Angular con QR :P-->
    <script type="text/javascript" src="js/Angular/angular.min.js"></script>
    <script type="text/javascript" src="js/Angular/angular-animate.min.js"></script>
    <script type="text/javascript" src="js/Angular/angular-aria.min.js"></script>
    <script type="text/javascript" src="js/Angular/angular-material.min.js"></script>
    <script type="text/javascript" src="js/Angular/angular-route.js"></script>
  
    <!--SERVICIOS-->
    <script src="js/Services/services.js"></script>

    <!-- Para ruteo -->
    <script type="text/javascript" src="js/app.js"></script>

    

    <!-- controladores -->
    <script type="text/javascript" src="js/Controllers/recientesController.js"></script>
    

    <!--SOCKET IO-->
    <script src="/bower_components/angular-socket-io/socket.js"></script>
    <script src="/socket.io/socket.io.js"></script>

    <!--HUMMINGBIRD-->
    <script src="js/lib/hummingbird.js"></script>
</head>
    <body>
      <script>HummingbirdTracker.track(); </script>
      <div layout="row" flex>
        <md-sidenav layout="column" layout-fill class="md-sidenav-left md-whiteframe-4dp" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')" flex>

          <div class="content-box caja caja1">
            <div class="content-property">
              Total Usuarios 
            <div> 
            <div class="content-property-data">
              {{usuarios}}
            </div>
            <div class="content-property">
              Total Tweets 
            </div>
            <div class="content-property-data">
              {{mensajes}}
            </div>
            <div class="content-property">
              Total Categorias  
            </div>
            <div class="content-property-data">
              {{categorias}}
            </div>
            </div> 
          </div>
          </div>

           <div class="content-box caja caja2">
            <div class="content-property">
              Usuario con mas tweets
            <div> 
            <div class="content-property-data">
              Usuario: {{usermax._id}}
              <br>
              Count: {{usermax.count}}
            </div>
            <div class="content-property">
              Categoria con mas tweets
            </div>
            <div class="content-property-data">
              Categoria: {{categoriamax._id}}
              <br>
              Count: {{categoriamax.count}}
            </div>
            </div> 
          </div>
          </div>
          <div class="btn-list" onclick="window.location.assign('#/Recientes')">
                Recientes
            </div>
            <div class="btn-list" onclick="window.location.assign('#/buscar')">
                Buscar
            </div>
            
        </md-sidenav>
        <div layout="column" flex id="content">
          <md-content layout="column" flex class="md-padding">
            <div ng-view></div>
          </md-content>
        </div>
      </div>
  </body>
</html>      