<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Chat room</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<style>
	body{
		padding:0;
		margin: 0;
		width:100%;
		height:100%;
	}
	#chat{
		height:500px;
	}
	.nombre{
		font-weight: bold;
		color:#3963C4;
	}
	.mensaje{
		color:#441EAD;
	}
	</style>
</head>
<body>
	<div id="chat"></div>
	<input id="button" class="btn btn-primary" type="submit">
	<script src="/socket.io/socket.io.js"></script>
	<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
	<script>
		$(document).on('ready',function(){
			var socket = io.connect({transports: ["websocket"]});
			var submitButton = $('#button');
			var chat = $("#chat");
			submitButton.on('click',function(){
				socket.emit('sumar');
			});
			socket.on('NewConnection',function(contador){
				chat.html("<span class='nombre'>"+ contador + "</span><br>");
			});
		});
	</script>
	
</body>
</html>
