<div class="body-tool" layout="column" ng-cloak>
  <md-toolbar class="my-toolbar">
    <div class="md-toolbar-tools">
      <h2 class="md-flex">Mensajes recientes</h2>
    </div>
  </md-toolbar>
  <md-content flex layout-padding style="box-shadow: 2px 3px 15px #969696;">
        <!--
           contenido
        -->
        <div class="body-list repeat-animation" ng-repeat="mensaje in mensajes">
          <div class="name-list" >{{mensaje.user}}</div>
          <div class="name-list" >{{mensaje.alias}}</div>
          <div class="category-list" >{{mensaje.categoria}}</div>
          <div class="message-list" >{{mensaje.txt}}</div>
        </div>

  </md-content>
</div>